__pycache__/
dist/
build/

app_files/caminho_download.txt
app_files/caminho_planilha.txt
app_files/coordenadas_erro.txt
app_files/coordenadas.txt

automacao_transferencia.spec
main.spec
mapear_erro.spec
mapear_transferencia.spec

terminal.txt

automacao_transferencia_legacy.py

build_all.ps1